/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem ;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* Home */
#home{
    height: 370px;
    padding: 3px 28px;
    z-index:-1;

}

#home:before{
    height: 496px;
    z-index:-2;
    
}

#home p{
    font-size: 13px;
}

/* Services */
#services{
    flex-direction: column;

}

#services .box{

    padding: 14px;
    margin:2px 0px;
    margin-bottom: 20px ;
}

#services .box img{

    width:160px;
}



/* Clients */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 80px;
    padding: 0px;
    height: auto;
    margin:2px;
}

/* Contact Us */

#contact-box form{
    width: 80%;
}

/* footer */

/* Utility Classes */
.h-primary{
    font-size: 26px;
}

.btn, .btnn{
    font-size: 13px;
    padding: 4px 8px;
}